body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-image: url("../images/paw-pattern.jpg");
    background-position: center;
    background-repeat:repeat;
    background-size: 20%;
    
  }
  
  #title {
    background-color: #FF4C68;
  }
  
  .hero-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
  }
  
  .container-fluid {
    padding: 0 15%;
  }
  
  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* .navbar {
    padding: 0 0 4.5rem 0;
  } */
  
  .nav-item {
    padding: 0 18px 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }


  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
  }
  

  
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 3rem;
  }

  #footer {
    margin: 7%;
    text-align: center;
  }
  
  .social-icons {
    padding: 10px;
  }
  
  .social-icon {
    padding: 10px;
  }


/* .col-md-4 {
    padding-right: 0;
} */

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -468px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #9f9f9f;
    font-size: 15px;
    background-color: white;
}
.package {
    box-sizing: border-box;
    width: 301px;
    height: 470px;
    border: 3px solid #e8e8e8;
    border-radius: 7px;
    display: inline-block;
    padding: 24px;
    text-align: center;
    float: left;
    transition: margin-top 0.5s linear;
    position: relative;
    margin-right: 11px;
    cursor: pointer;
}
.package :active {
border-color: #FF4C68;
}
/* .package:hover {
    margin-top: -30px;
    transition: margin-top 0.3s linear;
} */
.name {
    color: #565656;
    font-weight: 300;
    font-size: 3rem;
    margin-top: -5px;
}
.price {
    margin-top: 7px;
    font-weight: bold;
}
.price::after {
    content: " / month per user";
    font-weight: normal;
}
hr {
    background-color: #dedede;
    border: none;
    height: 1px;
}
.trial {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 2px 21px 2px 21px;
    color: #FF4C68;
    border: 1px solid #e4e4e4;
    display: inline-block;
    /* border-radius: 15px; */
    background-color: white;
    position: relative;
    bottom: -20px;
}
.ulc {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 29px;
}
.ulc li {
    margin-bottom: 15px;
}
.ulc li:before {
    font-size: 1.3rem;
    color: #FF4C68;
    margin-right: 3px;
}
.checkIcon, .ulc li:before, .brilliant::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.brilliant {
    border-color: #FF4C68;
}
/* .brilliant::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: #3bc6b8 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
} */
/* .brilliant::after {
    color: white;
    position: absolute;
    left: 9px;
    top: 6px;
    text-shadow: 0 0 2px #37c5b6;
    font-size: 1.4rem;
} */
